*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(198, 238, 238);
}

li{  /* reglas de estilo para los item list */
    list-style: none; /* quitamos los estilos a las listas */
    float: right;  /* flotamos los elementos a la derecha' metodo antiguo */
    margin-right: 25px;  /* damos un margen derecho de 25px */
    border-top: 3px solid black;  /*agregamos un borde arriba del contenido  */
    padding-top: 5px;  /* agregamos un relleno al contenido */
}
a{
    text-decoration: none; /* quitamos el subrayado a las anclas */
    
}
#edad {  /* se muestra en bloque a los elementos en linea */
display: block ;
}

h2{ /* se muestra en linea a los elementos en bloque */
    display: inline;
}

.botones{
    text-align: center;
    margin-top: 15px;
}

button{
    padding: 20px;
    background-color: green;
    color: white;
    width: 250px;
    border-radius: 20px;
    border: 1px solid black; 
}
 input{
    background-color:beige ;
    width: 250px;
    height: 25px;
    margin-top: 15px;
 }

select{
    background-color: beige;
    width: 250px;
    height: 25px;
}

main{
    text-align: center;
}



.roboto {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}





